.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 1.825vw;
    height: 1.825vw;
    background: url('../../../public/images/no_view.png') center / cover no-repeat;
}

.password-toggle.view {
    height: 1.425vw;
    background: url('../../../public/images/view.png') center / cover no-repeat;
}